<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="static/source/icon2.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="static/css/include\bootstrap-4.4.1-dist\css\bootstrap.css">
    <link rel="stylesheet" href="static/css/titleStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Документация</title>
    <div class="nav">
        <div class="itemnav"><a href="/">HOME</a></div>
        <div class="itemnav"><a href="/generator">GENERATE</a></div>
        <div class="itemnav"><a href="#">DOCS</a></div>
        <!-- <div class="itemnav"><a href="about.html">ABOUT US</a></div> -->
    </div>
</head>
<body>
    <div class="vspace">
        <h1 class="display-4">Документация</h1>
    </div>
    
    <div class="container">
        <div class="row">
            <article class="col-md-3" style="border-right: 1px rgb(180, 180, 180) solid;">
                <ul>
                    <li><a href="#1">Основные возможности</a></li>
                    <ul>
                        <li><a href="#11">Загрузка фотографии</a></li>
                        <li><a href="#12">Режим перемещения и масштабирования</a></li>
                        <li><a href="#13">Режим рисования</a></li>
                        <li><a href="#14">Режим изменения</a></li>
                        <li><a href="#15">Скачивание изображения</a></li>
                    </ul>
                    <li><a href="#2">Доколнительные инструменты</a></li>
                    <ul>
                        <li><a href="#21">Изменение ресэмплинга</a></li>
                        <li><a href="#22">Смена цвета обводки</a></li>
                        <li><a href="#23">Вспомогательный линии</a></li>
                    </ul>
                </ul>
            </article>
    
            <div class="col-md-9">
                <h1 id="1">Основные возможности</h1>
                <h2 id="11">Загрузка фотографии</h2>
                <p>
                    Загружаем любое изображение с помощью кнопки <i class="material-icons cloud_upload">cloud_upload</i>.
                </p>
                <h2 id="12">Режим перемещения и масштабирования</h2>
                <p>
                   По умолчанию мы находимся в режиме перемещения. Мы можем как угодно расположить наше загруженное изображение. При нажатии на левую клавишу мыши (не отпуская) мы можем перемещать изображение, а нажав на клавиши «+», «-» на клавиатуре или <i class="material-icons zoom_in">zoom_in</i>, <i class="material-icons zoom_out">zoom_out</i> на панели инструментов мы можем масштабировать изображение.
                </p>
                <h2 id="13">Режим рисования</h2>
                <div class="row">
                    <div class="col-md-5">
                        <p>
                            После этого переходя в режим отрисовки (нажав на <i class="material-icons highlight_alt">highlight_alt</i> или нажав на клавишу D на клавиатуре) Нажимая на левую клавишу мыши на начальной точке (xmin, ymin) и отпустив на конечной (xmax, ymax) мы рисуем регионы.
                            В верхней части обводки находиться надпись, которая указывает на название класса для данного региона. Название класса можно менять, нажав на «classname» (На рисунке жёлтая стрелка) появиться окно ввода, где и указывается название класса. Название класса можно сменить и в режиме редактирования. 
                        </p>
                    </div>
                    <div class="col-md-7">
                        <img width="100%" src="static/source/docs_class.png" alt="" srcset="">
                    </div>
                </div>
                
                
                <h2 id="14">Режим изменения</h2>
                <p>
                   Чтобы перейти в режим нужно нажать на <i class="material-icons edit">edit</i> или на клавишу Е на клавиатуре. В данном режиме меняем название класса в специальном поле или корректируем координаты. Для этого (только в режиме редактирования) нажмите на регион (он подсветится красным цветом). По окончании редактирования можно нажать на кнопку «Close properties» и режим сменится на режим рисования bbox’ов. Также в режиме редактирования можно удалить какой-либо bbox. Для этого нужно выбрать bbox и нажать на кнопку «Delete bbox». Это также можно сделать, нажав на Ctrl + Z.
                </p>
                <h2 id="15">Скачивание изображения</h2>
                <p>
                    После окончания всей разметки можно нажать на кнопку «Download XML file» в режиме редактирования или на кнопку <i class="material-icons cloud_download">cloud_download</i> на панели инструментов и в это время сервер соберёт все данные в один файл и после он автоматически скатается на компьютер пользователя в виде XML файла. 
                </p>
                <h1 id="2">Дополнительные инструменты</h1>
                <p>
                   Помимо основных инструментов есть также и вспомогательные, которые помогают решить некоторые визуальные проблемы или помочь с рисованием.
                </p>
                <h2 id="21">Изменение ресэмплинга</h2>
                Первый инструмент – Blur. Данный инструмент помогает переключать режим рендеринга изображения (ресэмплинг).  Если он включен (на панель такой значок <i class="material-icons blur_on">blur_on</i>), то изображение при увеличении сглаживает края пикселей, иначе рендеринг изображения без сглаживания (ресэмплинг по соседним краям) и на панели будет соответствующая иконка <i class="material-icons blur_off">blur_off</i>. Это удобно для работы с маленькими изображениями. На рис. ниже. показаны примеры разных режимов. 
                <img width="100%" src="static/source/Resemplink.png" alt="" srcset="">
                А - с ресэблингом, В - без.
                <h2 id="22">Смена цвета обводки</h2>
                Второй инструмент – смена цвета обводки у bbox. Бывают моменты, когда стандартный цвет сливается с изображением и становится плохо различим. Для решения данной проблемы можно сменить цвет на тот, который будет более контрастнее на фоне изображения.
                <h2 id="23">Вспомогательный линии</h2>
                Третий полезный инструмент – вспомогательные линии. В изображении могут быть объекты округлой формы, которые нужно выделить.  Если сделать «на глаз», то можно потратить некоторое время на исправление координат. Решает данную проблему это инструмент. По нажатию на <i class="material-icons border_inner">border_inner</i> появятся две линии, которые повторяют координаты курсора и помогают более точно «прицелиться».
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col"></div>
            <div class="col" style="text-align: center;"><b>Черепанов Игорь группа 2341</b></div>
            <div class="col" style="text-align: center;"><b>zigorewslike@gmail.com</b></div>
            <div class="col"></div>
        </div>
    </div>
   
    
        
</body>
</html>